# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
stack.yml

packages/apigen/test/prisma/.env
.env
packages/console/packaged.json
packages/console/prisma/.env
packages/console/prisma/.env
pgbouncer/conf/userlist.txt
pgbouncer/conf/userlist.txt.template
pgbouncer/tmp/pgbouncer.pid
packages/console/prisma/.env
packages/console/prisma/model2-policies.json
packages/console/prisma/model-policies.json
packages/console/prisma/model-policies.json
packages/apigen/test/prisma/rules.ts
packages/apigen/test/prisma/mutationRuleslist.ts
packages/apigen/test/prisma/queriesRuleslist.ts
packages/console/serviceAccount.json
packages/console/src/app-schemas/auth.zip
packages/console/itahuduma-firebase-adminsdk.json
packages/apigen/test/prisma/app-schemas/
packages/apigen/test/prisma/generated/
